.main {
  height: 100vh;
}

.flexcontainer {
  display: flex;
}

.flexitem{
  width: 100%;
  height: 100px;
  text-align: center;
}
 
.item1{
  background: #009933;
}
 
.item2{
  background: #0066FF;
}
 
.item3{
  background: #CC6666;
}
 
.item4{
  background: #CC66FF;
}
 
.item5{
  background: #FF33CC;
}
.contentsContainer {
  /* height : 100vh; */
  display: flex;
flex-direction: column;
justify-content: space-around;

width: 60%;
height: 100vh

}
.list {
  display: flex;
flex-direction: column;
justify-content: space-around;
height: 50vh
}

.item11 {
}

.sidelist {

}

.footer {

  
}


